* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: rgb(41,44,49);
    color: white;
    font-family: 'Rubik', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: self-start;
}

.title{
    font-size: 63px;
    padding-top: 3%;
    text-align: left;
}

.HR{
    margin-left: 40%;
    margin-right: 39.5%;
    margin-bottom: 2%;
}

.containe { 
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.discretas {
    background: rgba(255, 255, 255, 0.075);
    display: flex;
    flex-direction: column;
    
}

.tema {
    background: rgba(255, 255, 255, 0.075);
    margin-bottom: 2%;
    padding: 3%;
    font-size: 20px;
    font-weight: lighter;
}

.containe div {
    font-size: 3vw;
    padding: .5em;
    color: white;
    flex: 1;
}

.cpp{
    background: rgba(255, 255, 255, 0.075);
    display: flex;
    flex-direction: column;
    
}

.temaCPP {
    background: rgba(255, 255, 255, 0.075);
    margin-bottom: 2%;
    padding: 3%;
    font-size: 20px;
    font-weight: lighter;
}

.lineal{
    background: rgba(255, 255, 255, 0.075);
    display: flex;
    flex-direction: column;
    
}

.temalineal {
    background: rgba(255, 255, 255, 0.075);
    margin-bottom: 2%;
    padding: 3%;
    font-size: 23px;
    font-weight: lighter;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(163, 255, 194);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 255, 122);
    background-color: transparent;
    text-decoration: underline;
  }